<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--读写分离（主从），需要配置SQLSERVER数据库，具体可以google一下-->
    <add key ="Write_connectionStrings"
         value="
         Data Source=WIN-M7LVCHHL7N0\MSSQLSERVER2019;Initial Catalog=ORM_Demo;Integrated Security=True"/>
    <add key ="Read_connectionStrings"
         value="
         Data Source=WIN-M7LVCHHL7N0\MSSQLSERVER2019;Initial Catalog=ORM_Demo_Copy;Integrated Security=True,
         Data Source=WIN-M7LVCHHL7N0\MSSQLSERVER2019;Initial Catalog=ORM_Demo_Copy1;Integrated Security=True
         Data Source=WIN-M7LVCHHL7N0\MSSQLSERVER2019;Initial Catalog=ORM_Demo_Copy2;Integrated Security=True"/>

  </appSettings>
</configuration>